<!DOCTYPE html>
%html
%head
  %title Asphoto
  = stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
%body
  = render 'layouts/messages'
  = render 'layouts/admin_menu' 
  = yield
